<div class="row devise-pages">
  <div class="col-md-offset-7 col-md-4 devise-modal-large">
    <div class="modal-title">
      <h2>Sign up</h2><hr />
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <div class="field">
      <span><%= f.text_field :username, placeholder: "Username", autofocus: true %></p></span>
      <span><%= f.email_field :email, placeholder: "Email" %></p></span>
    </div>

    <div class="field">
      <span><%= f.password_field :password, placeholder: "Password", autocomplete: "off" %></span>
    </div>

    <div class="field">
      <span><%= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: "off" %></span>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
    <% end %>

    <div class="devise-partials">
      <%= render "devise/shared/links" %>
      <%= render "partials/devise_flash" %>
    </div>
  </div>
</div>
<%= render "partials/footer" %>
