<%= render "./partials/subheader" %>

  <div class="row topics">

    <%= render "./partials/sidebar" %>

  <div class="col-md-8 main-content">
    <% @topic.bookmarks.each do |bookmark| %>
      <ul class="list-group">
        <li class="list-group-item justify-content-between">
          <div class="item-info">
            <h4><%= link_to "#{bookmark.url}" %></h4>
            <p><%= "#{bookmark.title}" %></p>
            <p><%= "creator name | #{bookmark.created_at.strftime("%b %d, %Y")}" %></p>
          </div>
          <div class="item-options">
            <%= button_to "Edit Bookmark", edit_topic_bookmark_path(@topic, bookmark.id), method: :get, class: "btn options" %>
            <hr class="h-divider">
            <%= button_to "Delete Bookmark", topic_bookmark_path(@topic, bookmark.id), method: :delete, class: "btn options danger", data: { confirm: "Delete this bookmark?" } %>
            <hr class="h-divider">
            <%= button_to "Favorites: #{rand(1..35)}", '#', class: "btn options favorites" %>
          </div>
        </li>
      </ul>
    <% end %>
  </div>
</div>


<%= render "./partials/footer" %>
