<div class="row devise-pages">
  <div class="col-md-offset-7 col-md-4 devise-modal">
    <div class="modal-title">
      <h2>Resend unlock instructions</h2><hr />
    </div>
    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <div class="field">
      <span><%= f.email_field :email, placeholder: "Email", autofocus: true %></span>
    </div>

    <div class="actions">
      <%= f.submit "Resend unlock instructions" %>
    </div>
    <% end %>

    <div class="devise-partials">
      <%= render "devise/shared/links" %>
      <%= render "partials/devise_flash" %>
    </div>
  </div>
</div>
<%= render "partials/footer" %>
