<%= render "./partials/subheader" %>
  <div class="row topics">
    <%= render "./partials/sidebar" %>

    <div class="col-md-9 main-content topic-menu">
      <h3>Create a new Bookmark</h3>
      <%= form_for @bookmark do |bookmark| %>
      <div class="form-group">
        <%= bookmark.text_field :title, class: 'form-control field', placeholder: "Enter Bookmark Title" %>
      </div>
      <div class="form-group">
        <%= bookmark.text_field :url, class: 'form-control field', placeholder: "Enter Bookmark URL" %>
      </div>
      <div class="form-group">
        <%= bookmark.submit "Save", class: 'btn btn-success' %>
        <%= link_to "Cancel", topic_bookmarks, class: 'btn btn-danger' %>
      </div>
  <% end %>
</div>
</div>

  <%= render "./partials/footer" %>
